.footer_container
	p.copyright
		&copy;
		first_post = get_data(type='post',sort='asc',limit=1,with_page=False)
		last_post = get_data(type='post',sort='desc',limit=1,with_page=False)
		first_year = first_post.date.format('%Y')
		last_year = last_post.date.format('%Y')
		if first_year == last_year
			copyright_year = first_year
		else
			copyright_year = first_year + '-' + last_year
		span= copyright_year + ' '
		a.footer_site_title(href= "/")= site.title
		if has('posts')
			span.footer_navbar
				span.header_nav_categories.hidden_on_small
					&nbsp;|
					a(href='/categories') Categories
				span.header_nav_tags.hidden_on_small
					&nbsp;|
					a(href='/tags') Tags
				span.header_nav_archive.hidden_on_small
					&nbsp;|
					a(href='/archive') Archives