.header_container
	h1
		a.site_name(href='/')= site.title
	nav.navbar
		a(href='/') Home
		if has('images')
			span.header_nav_album.hidden_on_small
				&nbsp;|
				a(href='/album') Album
				if not has('posts')
					+redirect('/album')
		if has('about.md')
			span.header_nav_about
				&nbsp;|
				a(href='/p/about') About