if not has(allow_comment)
	if has(post.metadata['comment'])
		allow_comment = post.metadata['comment']
	else
		allow_comment = site.configs['comment']

.post_detail_container
	h1.post_detail_title= post.title
	.post_detail_content= post.content
		p.post_detail_content_end - END -
	tags = post.tags
	if tags
		p.post_detail_tags
			if tags.length > 1
				i.fa.fa-tags
			else
				i.fa.fa-tag
			| &nbsp;
			for tag in tags
				a(href="/tag/{{tag}}")= tag
				span &nbsp;
				
.comments_container#comments
	if allow_comment
		comment_count = post.comments_count
		comment_hint = 'Comment'
		if comment_count > 1
			comment_hint = comment_hint + 's'
		p.comments_leave_hint= '%s (%d)'%(comment_hint, comment_count or 0)
		include include/comments.jade
	else
		// Comment not allowed.

include ui/back_to_top.jade
