has_pre = get_connected_one(post, none, '<')
has_next = get_connected_one(post, none, '>')
pre_url = has_pre.url
next_url = has_next.url
pre_title = has_pre.title
next_title = has_next.title

include ui/base_pager.jade